* {
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-image : url("https://drive.google.com/uc?id=1BcoUlRco5Fx0XvcMut8ZbDpbBz0xAocb");
  background-repeat: repeat-y;
  background-size:100%;
  margin : auto;
  padding : auto;
  font-family: 'Trebuchet-MS', sans-serif;
  color: white;
}

.header > h1 {
  margin-bottom : 15px;
  margin-top : 15px;
}

.title {
  font-size : 250%;
}

.pitchblock-header > h2 {
  margin : 0;
  padding : 5px;
}

.pitchblock-body > p {
  margin : 0;
  padding : 5px;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color : black;
  color : white;
  padding : 20px;
  height : auto;
  display : flex;
  flex-wrap: wrap;
  justify-content : space-between;
}

.header-nav > div {
  padding : 10px;
}

.header-nav a {
  color : white;
}

.jumbotron {
  background-color: black;
  padding: 0;
  height: 100vh;
}

.jumbotron > canvas {
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding : 20px;
  height : auto;
  z-index: 2;
}

.centre {
  width : 40vw;
  margin : auto;
}

.carousel-container {
	padding-top: 10%;
}

.carousel-inner {
	overflow: hidden;
}

.item img {
	width:100%;
}

.mvp-video {
	padding-top: 10%;
}

.video-frame {
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.blockchain-cards {
	padding-top: 10%;
}

.grid-container {
  margin: 20px auto;
  width:800px;
  height:800px;
  display:grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
  z-index: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 3px #383838;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 3px #383838;
}

.about-us {
	padding-top: 20px;
}

footer {
  margin-right: 5%;
  float: right;
}

#box {
  padding: 0;
  float: right;
}

.form-groups {
  padding: 10px 0 10px 0;
}