* {
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-color : white;
  margin : 0;
  padding : 0;
  font-family: 'Trebuchet-MS', sans-serif;
  background-image : url("../img/circles-light.png");
}

.header > h1 {
  margin-bottom : 15px;
  margin-top : 15px;
}

.title {
  font-size : 250%;
}

.pitchblock-header > h2 {
  margin : 0;
  padding : 5px;
}

.pitchblock-body > p {
  margin : 0;
  padding : 5px;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color : black;
  color : white;
  padding : 20px;
  height : auto;
  display : flex;
  flex-wrap: wrap;
  justify-content : space-between;
}

.header-nav > div {
  padding : 10px;
}

.header-nav a {
  color : white;
}

.jumbotron {
  background-color: black;
  padding: 0;
  height: 100vh;
}

.jumbotron > canvas {
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding : 20px;
  height : auto;
  z-index: 2;
}

.centre {
  width : 40vw;
  margin : auto;
}

.pitch-panels {
  display : flex;
  align-items : center;
}

.pitch-panels > button {
  padding : 10px;
  margin-left : 10px;
  margin-right : 10px;
}

#pitch-scroll-left {
  margin-right : 20px;
}

#pitch-scroll-right {
  margin-left : 20px;
}

.pitch-scroll-button {
  padding : 5px;
}

.pitch-scroll-button:hover {
  cursor : pointer;
  background-color : black;
  color : white;
}

.scroll-icon {
  font-size : 300%;
}

.pitch-scroller {
  overflow-x : hidden;
  overflow-y : auto;
  height : 300px; 
}

.pitchblockcontainer {
  display : flex;
  flex-direction : row;
  flex-basis : 50%;
  flex-grow : 0;
  width : 580px;
}

.pitchblock {
  background-color : black;
  margin-top : 20px;
  margin-bottom : 20px;
  width : 250px;
  box-shadow: 5px 5px 3px gray;
}

.pitchblock-header {
  background-color : white;
  color : black;
  margin : 0;
  width : 250px;
}

.pitchblock-body {
  background-color : black;
  color : white;
  width : 250px;
}

.block-arrow {
  align-self : center;
}

.pitch-container {
	padding-top: 60px;
}

.video-frame {
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.grid-container {
  margin: 20px auto;
  width:800px;
  height:800px;
  display:grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
  z-index: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 3px gray;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 5px 5px 3px gray;
}

/*.grid-item {
	background-color:black;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
	box-shadow: 5px 5px 3px gray;
}*/
.about-us {
	padding-top: 20px;
}

footer {
  margin: auto;
}
