* {
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(53, 53, 53);
  margin : auto;
  padding : auto;
  font-family: 'Trebuchet-MS', sans-serif;
  color: white;
}

.header > h1 {
  margin-bottom : 15px;
  margin-top : 15px;
}

.title {
  font-size : 250%;
}

.pitchblock-header > h2 {
  margin : 0;
  padding : 5px;
}

.pitchblock-body > p {
  margin : 0;
  padding : 5px;
}

.header {
  z-index: 99;
  position: fixed;
  width: 100vw;
  background-color : black;
  color : white;
  padding : 20px;
  height : auto;
  display : flex;
  flex-wrap: wrap;
  justify-content : space-between;
  box-shadow: 0 0 5px 5px black;
  padding-bottom:0px; 
  padding-top:5px;
}

.header > nav {
  padding-top: 15px;
}

.header-nav a {
  color : white;
}

.jumbotron > canvas {
  margin-left: auto;
  margin-right: auto;
}

.centre {
  width : 40vw;
  margin : auto;
}

.content {
  width: 80vw;
  background-color: rgb(20, 20, 20);
  box-shadow: 0  0 5px 5px #161616;
}

.carousel-container {
	padding-top: 10%;
}

.carousel-inner {
	overflow: hidden;
}

.item img {
	width:100%;
}

.mvp-video {
	padding-top: 10%;
}

.video-frame {
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.about-us {
  padding-top: 20px;
}

#submission {
  color: gray;
  margin-top: 10px;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.likert ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.likert li {
  float: left;
  text-align: left;
  list-style-type: none;
}

.footer {
  margin-right: 11%;
  float: right;
}

form > .form-groups {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding {
  padding-top: 40px;
}

#logo-holder {
  height: 30px;
  width: 30px;
}

#logo {
  background-image: url("../src/console_active.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.logo-container {
  background-color: black;
}

#ethereum-intro, #ipfs-intro {
  background-color: white;
}

#ipfs-logo, #ethereum-logo {
  background-color: black;
  height: 200px;
  width: 200px;
}