* {
    /*font-family : 'Do Hyeon', sans-serif;*/
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1em;
}

input:focus {
    outline: 1px solid white;
}

html * {
    background-color: #14130a;
    color: white;
    border-color : white;
}

div {
    outline: none;
}

input {
    border : white 1px solid;
}

.cursor-invert:hover {
    /*color*/
    background-color: white;
    color: #14130a;
    /*interaction*/
    cursor: pointer;
}

.cursor-invert:active {
    /*color*/
    background-color: #14130a;
    color: white;
    /*interaction*/
    cursor: pointer;
}

.black-submit:hover {
    cursor: pointer;
}

.black-submit:active {
    background-color: white;
    color: #14130a;
}

.spinner {
    font-family: 'Roboto Mono', monospace;
}


/************     Chrome Scrollbars      ***********/
/*These will only work on chrome; if we convert to Electron application this will still apply and we won't have to worry about cross-browser support*/
div::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
   
div::-webkit-scrollbar-thumb {
    background: white;
}
  
div::-webkit-scrollbar-track {
    background: #14130a;
}

div::-webkit-scrollbar-track {

}

select::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
   
select::-webkit-scrollbar-thumb {
    background: white;
}
  
select::-webkit-scrollbar-track {
    background: #14130a;
}


/************     Text selection colour        **********/

::selection {
    background: blue;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: blue;
    /* Gecko Browsers */
}

.warning-message {

}

.hover-cursor {
    cursor: default;
}

.hover-hand {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
}

button {
    border: 1px none;
    font-family: 'Courier New', Courier, monospace 10px solid;
}


/******** LOADING/LOGIN SCREEN CONTAINER **********/
.purgatory-content {
    width : 100%;
    height : calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.purgatory-content h1 {
    margin-top : 0;
    margin-bottom : 0;
}

.loading-pic {
    width: 100%;
    margin: 0 auto;    
}

/*************** LOG IN SCREEN *********************/
.login-screen p {
    margin : 0;
}

.login-screen h1 {
    margin-bottom: 5px;
}

.login-screen {
    /*border: 1px blue solid;*/
    padding : 10px;
    width : 500px;
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column
}

.login-top {
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    margin-bottom : 30px;
}

.login-option {
    padding: 5px;
}

.selected-login-option {
    background-color : white;
    color: #14130a;
}

.login-input-container {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width : 100%;
    margin-bottom : 0px;
}

.login-help-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width : 100%;
    margin-bottom: 30px;
}

.login-explanation {
    height : 152px;
}

.login-explanation li {
    padding : 5px;
}

.login-explanation ul {
    margin: 5px 0px 5px 0px;
}

.login-form input {
    width: 100%;
}

.login-explanation {
    border: solid white 1px;
    width: 100%;
    padding: 5px;
}

.loginStatus p {
    color: red;
}

.loginStatus span {
    color: #14130a;
}

/******* HEADER *********/
.header {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.25em;
    margin-left: 1px;
}

.header>h3 {
    border: 1px solid;
}

.header-nav {
    display: flex;
}

.header-nav>div {
    padding: 10px;
}

.header-nav a {
}

.title {
    font-size: 250%;
}

/**************Main Page CSS****************/
.main-page {
    /*100% of viewport heigh - 100px*/
    height: calc(100vh - 55px);
    
}
content-page {
    overflow : hidden;
}

.main-screen {
    display: flex;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/*Left panel holds links to different sections of the site*/
.left-panel {
    display: flex;
    flex: 0;
    flex-basis : 10%;
    flex-shrink: 0;
    padding: 0px;
}

/*hides the left panel contents while we only have rooms section*/
.sections * {
    display: none;
}

/*Styling of left panel section links*/

.section-button {
    /*padding*/
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 10px 10px;
    /*font*/
    text-align: left;
    font-size: 1.5em;
}

.text-unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.section-button:hover {
    /*color*/
    background-color: white;
    color: #14130a;
    /*interaction*/
    cursor: pointer;
}

.section-button:active {
    /*color*/
    background-color: #14130a;
    color: white;
    /*interaction*/
    cursor: pointer;
}

.selected-section {
    /*color*/
    background-color: white;
    color: #14130a;
}

.unselected-section {
    background-color : #14130a;
    color : white;
}

.content {
    flex-grow: 0;
    /*89.63 is the max width before x-overflow*/
    flex-basis: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px none;
    margin: 0px 5px 5px 5px;
    position: relative;
    /*background-color : #131313;*/
}

.content * {
    /*background-color : #131313;*/
}

.console-header>p {
    width: 7.5%;
    margin: 2px auto 2px auto;
}

.right-panel {
    flex: 0;
    flex-shrink : 1;
    flex-basis: 10%;
}

/************************Hover Console************************************/
.hover-console {
    width : 100%;
    height : 50%;
    position : fixed;
    background-color: blue;
    bottom : 0;
}

/*****************Console Related CSS*************************/
.console {
    display : flex;
    flex-direction : column;
    width : 100%;
    position : absolute;
    bottom : 0;
    border-top : 1px solid white;
}

.console-content-section * {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.92em;
}

.console-content-section {
    overflow : auto;
    border-top: 1px solid;
}

.console p {
    margin : 0;
}

.console-active {
    display : flex;
}

.console * {
    background-color : white;
    color : #14130a;
}

/*Console nav menu*/
.console-nav {
    overflow-x : auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: 'Do Hyeon', sans-serif;
}

.console-nav div {
    padding: 15px 15px 15px 15px;
    flex-shrink : 0;
    margin : 0;
    cursor : pointer;
}

/*console scrollbars*/
.console::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
   
.console::-webkit-scrollbar-thumb {
    background-color: #14130a;
}
  
.console::-webkit-scrollbar-track {
    background-color : white;
}

.console-top {
    display : flex;
    flex : auto;
    flex-direction : row;
    justify-content : flex-start;
    align-items : stretch;
    align-content : stretch;
    /*overflow : auto;*/
}

.console-bottom {
    display : flex;
    flex : 1;
    flex-direction : row;
    justify-content : flex-start;
    align-items : stretch;
    /*overflow : auto;*/
}

.properties {
    display : flex;
    flex-direction : column;
    flex : auto;
    flex-grow : 1;
    order : 1;
    text-align: left;
}

.properties-title {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
}

.properties-content > p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 10px;
}

.properties-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.graphbox {
    display : flex;
    flex-direction : column;
    flex : auto;
    flex-grow : 1;
    order : 2;
}

.linegraph {
    display : flex;
    flex-direction : row;
    flex : auto;
    padding-left : 10px;
    padding-right : 10px;
}

.graph-title {
    text-align : center;
}

.consolelog {
    display : flex;
    flex : 1;
    flex-direction : column;
    text-align: left;
}

.consolelog-title {
    border: 1px solid;
    text-align: center;
}

.consolelog-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.consolelog-content > p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}

.log-time {
    font-weight: bold;
}

.log-indent {
    visibility : hidden;
}

.token-manager {
    display: flex;
}

.token-manager>p {
    padding-right: 10px;
}

.token-manager>button {
}

.token-manager>button:hover {
    background-color: white;
    color: #14130a;
    cursor: pointer;
}

.footer {
    float: left;
}

/***************Room Related CSS********************/
.room-screen {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0px;
    width: calc(80vw);
}

.room-menu {
    display: flex;
    justify-content: space-between;
    flex-direction : row;
    flex-shrink: 0;
    border-bottom: 1px solid;
}

.room-menu-button {
    padding: 11px 15px 10px 15px;
    flex-basis: 1%;
}

.room-menu-button:hover {
    background-color: white;
    color: #14130a !important;
    cursor: pointer;
}

.room-menu-button:hover * {
    background-color: white;
    color: #14130a;
}

.room-menu-button:active .room-menu-button {
    background-color : #14130a !important;
    color: white !important;
}

.selected-add-room-button {
    background-color: white;
}

.selected-add-room-button * {
    background-color: white;
    color: #14130a;
}

/*************Room navigation menu style*************/
.room-menu-button:hover .plus-icon {
    background-color: white;
}

.room-menu-button:hover path {
    color : #14130a;
}

.room-nav {
    overflow-x : auto;
    display: flex;
    flex-shrink: 0;
    flex-basis: 95.5%;
}

.room-nav div {
    padding: 11px 15px 10px 15px;
    flex-shrink : 0;
    margin : 0;
}

.room-nav div:hover {
    background-color: white !important;
    color: #14130a !important;
    cursor: pointer;
}

.selected-button {
    background-color: white !important;
    color: #14130a !important;
}

.unselected-button {
    background-color : #14130a !important;
    color : white !important;
}

@media all and (max-width: 800px) {
    .room-nav ul {}
    .room-nav li {}
    .room-nav a {
        text-align: center;
        padding: 10px;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }
}

/************Create Room Screen**************/
.room-mgmt-screen {
    width : 100%;
}

.create-room-screen {
    display: flex;
    flex-direction: row;

}

.form-container {
    flex-basis : 25%;
    flex-shrink: 0;
    flex-grow : 0;
    width: 80%;
}

.form-container h1 span {
    color: #14130a;
}

.form-container div {
    padding-bottom: 5px;
}

.new-room-description {
    width: 100%;
}

.message-container {
    overflow : auto;
    margin-left: 10px;
}

.form-container select {
    width : 80%;
}

.manage-rooms-container {
    display : flex;
}

.manage-rooms-button-container {
    display: flex;
}

.manage-rooms-button-container input {
    margin-right: 10px;
}

.manage-rooms-button {
    padding: 5px;
}

.remove-rooms-container {
    display: flex;
    flex-direction: column;
}

.whitelist-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.whitelist-container select {
    margin-bottom: 5px;
}

.submit-icon {
    border: 1px solid white;
    width : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
}

.submit-icon:active .move-icon {
    background-color: white;
}

.submit-icon:active .move-icon path {
    color: #14130a;
}

.move-icon {
    width: 20px;
}

/*useful for colouring entire message container*/
.message-container * {
}

.temporary-message {
	position: relative;
}

.temporary-message * {
	color: grey;
}

.temporary-message img {
	position: absolute;
	display: flex;
	top: 0;
	width: 75px;
	left: 50%;
	margin: auto;
}

.icon-caption {
	position: absolute;
	display: flex;
	top: 70px;
	left: 47%;
	margin: 0;
}

/*Discrete message styling*/
.message {
    border-bottom: solid 1px;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-right: 5px;
}

.message:last-of-type {
    border-bottom: none;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.composer {
    display: flex;
    align-items: center;
}

.message-username {
    overflow: auto;
    margin: 10px;
}

.invite-menu {}

.inner-invite-menu {
    border: 1px solid;
}

.invite-button {
}

.message-time {
    overflow: auto;
    margin: 10px;
}

.message-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    overflow: auto;
    white-space: pre-line;
}

/******Chat Box CSS******/

.chat-box {
    margin-top: auto;
    margin-left: 1px;
    padding: 0;
    border-top: none 1px;
}

.chat-box form {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

/*Not sure about the colour scheme with this*/

.chat-box textarea {
    flex-basis: 90%;
    border: 1px solid;
    border-right: none;
    border-left : solid 1px;
}

.chat-box-send {
    flex-grow: 0;
    flex-basis: 10%;
    cursor: pointer;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: white;
    color: #14130a;
}
