* {
    /*font-family : 'Do Hyeon', sans-serif;*/
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1em;
    background-color: black;
    color: white;
    border-color : white;
}

/************     Chrome Scrollbars      ***********/
/*These will only work on chrome; if we convert to Electron application this will still apply and we won't have to worry about cross-browser support*/
div::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
   
div::-webkit-scrollbar-thumb {
    background: white;
}
  
div::-webkit-scrollbar-track {
    background: none;
}

div::-webkit-scrollbar-track {

}

/************     Text selection colour        **********/

::selection {
    background: blue;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: blue;
    /* Gecko Browsers */
}

.warning-message {

}

.hover-cursor {
    cursor: default;
}

.hover-hand {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
}

button {
    border: 1px none;
    font-family: 'Courier New', Courier, monospace 10px solid;
}

.header {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.25em;
    margin-left: 1px;
}

.header>h3 {
    border: 1px solid;
}

.header-nav {
    display: flex;
}

.header-nav>div {
    padding: 10px;
}

.header-nav a {
}

.title {
    font-size: 250%;
}

/**************Main Page CSS****************/
.main-page {
    /*100% of viewport heigh - 100px*/
    height: calc(100vh - 55px);
}

.main-screen {
    display: flex;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/*Left panel holds links to different sections of the site*/

.left-panel {
    flex: 0;
    flex-basis : 10%;
    flex-shrink: 0;
    padding: 0px;
}

/*Styling of left panel section links*/

.section-button {
    /*padding*/
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 10px 10px;
    /*font*/
    text-align: left;
    font-size: 1.5em;
}

.text-unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.section-button:hover {
    /*color*/
    background-color: white;
    color: black;
    /*interaction*/
    cursor: pointer;
}

.section-button:active {
    /*color*/
    background-color: black;
    color: white;
    /*interaction*/
    cursor: pointer;
}

.selected-section {
    /*color*/
    background-color: white;
    color: black;
}

.unselected-section {
}

.content {
    flex-grow: 0;
    /*89.63 is the max width before x-overflow*/
    flex-basis: 80%;
    overflow: auto;
    border: 1px none;
    margin: 0px 5px 5px 5px;
    position: relative;
    /*background-color : #131313;*/
}

.content * {
    /*background-color : #131313;*/
}

.console-header>p {
    width: 7.5%;
    margin: 2px auto 2px auto;
}

.right-panel {
    flex: 0;
    flex-shrink : 1;
    flex-basis: 10%;
}

/*****************Console Related CSS*************************/
.console {
    display : flex;
    flex-direction : column;
}

.console-top {
    display : flex;
    flex : auto;
    flex-direction : row;
    justify-content : flex-start;
    align-items : stretch;
    align-content : stretch;
}

.console-bottom {
    display : flex;
    flex : 1;
    flex-direction : row;
    justify-content : flex-start;
    align-items : stretch;
}


.properties {
    display : flex;
    flex-direction : column;
    flex : auto;
    flex-grow : 1;
    order : 1;
    border: 1px solid;
    text-align: left;
}

.properties-title {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    border: 1px solid;
    text-align: center;
}

.properties-content > p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 10px;
}

.properties-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.graphbox {
    display : flex;
    flex-direction : column;
    flex : auto;
    flex-grow : 1;
    order : 2;
    border: 1px solid;
}

.linegraph {
    display : flex;
    flex-direction : row;
    flex : auto;
    border : 1px solid;
    padding-left : 10px;
    padding-right : 10px;
}

.graph-title {
    border : 1px solid;
    text-align : center;
}

.consolelog {
    display : flex;
    flex : 1;
    flex-direction : column;
    border: 1px solid;
    text-align: left;
}

.consolelog-title {
    border: 1px solid;
    text-align: center;
}

.consolelog-content {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.consolelog-content > p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}

.token-manager {
    display: flex;
}

.token-manager>p {
    padding-right: 10px;
}

.token-manager>button {
}

.token-manager>button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.footer {
    float: left;
}

/***************Room Related CSS********************/
.room-screen {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0px;
    width: calc(80vw);
}

.room-nav {
    overflow-x : auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    flex-shrink: 0;
}

.room-nav div {
    padding: 11px 15px 10px 15px;
    flex-shrink : 0;
    margin : 0;
}

.room-nav div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.room-nav div:active {
    background-color:black;
    color: white;
}

.selected-room-button {
    background-color: white;
    color: black;
}

@media all and (max-width: 800px) {
    .room-nav ul {}
    .room-nav li {}
    .room-nav a {
        text-align: center;
        padding: 10px;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }
}

/******Message Box Related CSS******/
/*.scroll-container {
    position: relative;
    height: 69vh;
    margin-top: 3px;
    flex-shrink: 0;
    overflow: hidden;
}*/

/*Container for all messages*/
/*.message-container {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50%;
}*/

.message-container {
    overflow : auto;
    margin-left: 10px;
}

/*useful for colouring entire message container*/
.message-container * {
}

/*Discrete message styling*/
.message {
    border-bottom: solid 1px;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-right: 5px;
}

.message:last-child {
    border-bottom: none;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.composer {
    display: flex;
    align-items: center;
}

.message-username {
    overflow: auto;
    margin: 10px;
}

.invite-menu {}

.inner-invite-menu {
    border: 1px solid;
}

.invite-button {
}

.message-time {
    overflow: auto;
    margin: 10px;
}

.message-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    overflow: auto;
    white-space: pre-line;
}

/******Chat Box CSS******/

.chat-box {
    margin-top: auto;
    margin-left: 1px;
    padding: 0;
    border-top: none 1px;
}

.chat-box form {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

/*Not sure about the colour scheme with this*/

.chat-box textarea {
    flex-basis: 90%;
    border: 1px solid;
    border-right: none;
    border-left : solid 1px;
}

.chat-box-send {
    flex-grow: 0;
    flex-basis: 10%;
    cursor: pointer;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: white;
    color: black;
}