* {
  /*font-family : 'Do Hyeon', sans-serif;*/
  font-family: 'Do Hyeon', sans-serif;
}

body {
  background-color : white;
  margin : 0;
  padding : 0;

}

h1 {
  color : white;
}

.header {
  background-color : black;
  color : white;
  padding-left : 10px;
  padding-right : 20px;
  padding-top : 0px;
  padding-bottom : 0px;
  display : flex;
  align-items : center;
  justify-content : space-between;
}

.header > h1 {
  margin-bottom : 0px;
  margin-top : 5px;
  font-family : 'Do Hyeon', sans-serif;
  font-size : 2.25em;
  margin-left : 1px;
}

.header-nav {
  display : flex;
}

.header-nav > div {
  padding : 10px;
}

.header-nav a {
  color : white;
}

.title {
  font-size : 250%;
}

/*Main Page Stuff (Panel and Content screens)*/
.main-page {
  height: calc(100vh - 100px); /*100% of viewport heigh - 100px*/
  /*adding margin here resolved the overlap of the console and footer*/
}

.main-screen {
  display : flex;
  height : 100%;
  background-color : black;
}

/*Left panel holds links to different sections of the site*/
.left-panel {
  flex : 0;
  flex-basis : 12%;

  background-color : black;
}

/*Styling of left panel section links*/
.section-button {
  /*color*/
  background-color : black;
  color : white;
  /*border*/
  border : white;
  border-width : 1px;
  border-style : solid;
  /*padding*/
  padding : 5px 5px 5px 5px;
  margin : 5px 5px 10px 5px;
  /*font*/
  text-align : left;
  font-size : 1.5em;

}

.section-button:hover {
  /*color*/
  background-color : white;
  color : black;
  /*border*/
  border : white;
  border-width : 1px;
  border-style : solid;
  /*interaction*/
  cursor : pointer;
}

.content {
  flex-grow : 1;
  flex-basis: 80%;
  background-color : black;
  color : white;

  border: 1px solid white;

  margin : 5px;

  position: relative;
}

.right-panel {
  flex : 0;
  flex-basis : 8%;
  background-color : black;
}

.console {
  background-color : black;
  color : white;
}

.console-header {
  text-align : center;
  border : white;
  border-width : 1px;
  border-bottom-style : solid;
  border-top-style : solid;
}

.console-header > p {
  width : 7.5%;
  margin : 2px auto 2px auto;
}

.console-content {
  background-color : black;
  color : white;
}

.footer {
  float:left;
}

/******Room Related CSS******/
.room-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	border-bottom: solid 1px;
}

.room-nav li {
	width: 12.5%;
}

.room-nav a {
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	padding: 0.5em 2em;
	border-right: solid 1px;
}

.room-nav a:hover {
  	background-color : white;
  	color : black;
}

@media all and (max-width: 800px) {
	.room-nav ul {
		flex-flow: column wrap;
		padding: 0;
	}

	.room-nav li {
		width: 100%;
	}

	.room-nav a {
		text-align: center;
		padding: 10px;
		border-top: solid 1px;
		border-bottom: solid 1px;
	}
}

/******Message Box Related CSS******/
.message {
	height: 88%;
}

.message-body {
	border-bottom: solid 1px;
}

.message-username {
	float: left;
	overflow: auto;
	margin: 10px;
}

.message-time {
	float:right;
	overflow: auto;
	margin: 10px;
}

.message-content {
	display:inline-block;
	margin: 20px;
	margin-top: 0px;
	overflow: auto;
}

/******Chat Box CSS******/
.chat-box {
	width: 100%;
	height: 6%;
}

.chat-box textarea {
	resize: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 95%;
	height: 6%;
	padding: 12px 20px;
	margin: 0px;
	box-sizing: border-box;
}

.chat-box-send {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 5%;
	height: 6%;
	padding: 12px 20px;
	margin: 0px;
	cursor: pointer;
}